@import "global";

// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// Fix mobile footer
.app-footer {
    flex: 0 0;
    padding-top: map-get($spacers, 3);
    padding-bottom: map-get($spacers, 3);
}

.welcome{
    background-color: #6474E8;
}

table.dataTable tr.odd { background-color: #E2E4FF; cursor: pointer; }
table.dataTable tr.even { background-color: white; cursor: pointer;}